{% extends 'base.html' %}

{% block content %}

<div class="column">
  <div class="row ">
    <div class="col-sm-6">

      <div class="card" style="width: 18rem;">
        <img src="https://img.uline.com/is/image/uline/S-18692?$Mobile_Zoom$"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Care Cart</h5>
          <p class="card-text">
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}