
{% extends 'base.html' %}

{% block content %}
  <a href="/charities">Go to Charities Page</a>

    Home Page
    Welcome to CareNow

    

    {% for x in names %}
        {% if x ['name']== 'Charles' %}
        <div class="card" style="width: 20rem;">
          <img src="{{ x['img'] }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ x['name'] }}</h5>
            <p class="card-text">Contribution: {{ x.contribution }}</p>
          </div>
        </div>
      
        {% endif %}


    {% endfor %}

{% endblock %}


